<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper" class="mat-typography">
<header>
  <md-toolbar>
    <h1>Ched - The ChordPro Web Editor</h1>
  </md-toolbar>
</header>
<nav >
  <md-toolbar>
    <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
    </button>
      <md-menu #menu="mdMenu">
          <button md-menu-item>
          <md-icon>add</md-icon>
          <span>New</span>
        </button>
        <button md-menu-item>
          <md-icon>folder_open</md-icon>
          <span>Open</span>
        </button>
        <button md-menu-item disabled>
          <md-icon>file_upload</md-icon>
          <span>Import</span>
        </button>
        <button md-menu-item>
          <md-icon>archive</md-icon>
          <span>Save</span>
        </button>
      </md-menu>
  </md-toolbar>
</nav>

<section style="padding:1 em;height:100 em;display: block;">
  <app-editor (textHasChangedEvent) = handleTextHasChanged($event)></app-editor>
</section>
<section>
  <app-plain-txt-output [songContentToOutput] = editorText ></app-plain-txt-output>
</section>
	<footer id="footer">
		<p class="copyright">
			&copy; Dahausa 2017. Made with angular
		</p>
	</footer>
</div>

