<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="starter-template">
    <header>
      <h1>Ched - The ChordPro Web Editor</h1>
    </header>
    <p class="lead">With this web based editor you're able to create chordpro files in about no time</p>
  </div>

  <section style="padding:1 em;height:100 em;display: block;">
    <app-editor (textHasChangedEvent)=handleTextHasChanged($event)></app-editor>
  </section>
  <section>
    <app-plain-txt-output [songContentToOutput]=editorText></app-plain-txt-output>
  </section>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">
        <i class="material-icons">copyright</i> by Dahausa. Made with angular, bootstrap, ace-editor &amp; chordsheetjs
      </span>
    </div>
</footer>


</div>
